* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background-color: darkgreen;
  color: white;
}

#dealer-cards img{
  height: 100px;
  width: 75px;
  margin: 1px;
  margin-top: 5px;
}

#player-cards img{
  height: 100px;
  width: 75px;
  margin: 1px;
}

#hit-button{
  background-color: white;
  color: black;
  border: none;
  height: 25px;
  width: 40px;
  border-radius: 1px;
  cursor: pointer;
  font-weight: bold;
}

#hit-button:active {
  background-color: gold;
}

#stand-button{
  background-color: white;
  color: black;
  border: none;
  height: 25px;
  width: 40px;
  border-radius: 1px;
  cursor: pointer;
  font-weight: bold;
}

#stand-button:active {
  background-color: gold;
}


